flows (1).json
[{"id":"88308661.5c0888","type":"tab","label":"chatbot","disabled":false,"info":""},{"id":"b870131b.4cfa4","type":"watson-conversation-v1","z":"88308661.5c0888","name":"","workspaceid":"709828a4-8c33-4532-be49-eb67361a6807","multiuser":false,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0aef7b0c-30b0-4e3c-8bb2-d175f71b07aa","timeout":"","optout-learning":false,"x":386.5,"y":72,"wires":[["100c9cf0.d50323","7c4c1f68.2173"]]},{"id":"df8e3bdf.bddf18","type":"inject","z":"88308661.5c0888","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Good Morning","payloadType":"str","x":130,"y":60,"wires":[["b870131b.4cfa4"]]},{"id":"100c9cf0.d50323","type":"debug","z":"88308661.5c0888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"7c4c1f68.2173","type":"function","z":"88308661.5c0888","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["100c9cf0.d50323","d4661d0b.3796"]]},{"id":"9f0683e6.ed662","type":"ui_form","z":"88308661.5c0888","name":"","label":"","group":"e9592d95.07f8e","order":1,"width":15,"height":1,"options":[{"label":"Type Something...","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":110,"y":160,"wires":[["c9b2d456.26bfc8"]]},{"id":"c9b2d456.26bfc8","type":"function","z":"88308661.5c0888","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":240,"wires":[["b870131b.4cfa4","98511f9e.32756"]]},{"id":"98511f9e.32756","type":"ui_text","z":"88308661.5c0888","group":"e9592d95.07f8e","order":4,"width":7,"height":1,"name":"","label":"Input: ","format":"{{msg.payload}}","layout":"row-left","x":410,"y":280,"wires":[]},{"id":"d4661d0b.3796","type":"ui_text","z":"88308661.5c0888","group":"e9592d95.07f8e","order":8,"width":7,"height":1,"name":"","label":"Response: ","format":"{{msg.payload}}","layout":"row-left","x":650,"y":240,"wires":[]},{"id":"e9592d95.07f8e","type":"ui_group","name":"User Input","tab":"5312b77c.efc2b8","order":1,"disp":true,"width":"15","collapse":false},{"id":"5312b77c.efc2b8","type":"ui_tab","name":"Career guidance counsellor","icon":"dashboard","disabled":false,"hidden":false}]